body {
  background-color: #282A36;
}

.App {
  text-align: center;
}

.main-content {
  max-width: 720px;
  margin: auto;
}

.divider {
  background-color: #BD93F9;
}

.header-shows {
	display: flex;
	justify-content: space-between;
}

.links a {
	color: #8BE9FD;
}

.links a:active {
	color: #44475A;
}

.you-win-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
  background-color: #BD93F9;
	border: 2px solid #000;
	padding: 1rem;
	box-shadow: 0.5rem 0.5rem #FF79C6;
	align-content: center;
}
